* {
	list-style-type: none;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	margin: 0px;
	overflow-x: hidden;
	background-color: white;
}

a {
    text-decoration: none;
    color: black;
}